.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

#avantelements_allow_add_input,
#avantelements_display_order,
#avantelements_allow_html,
#avantelements_implicit_link {
    width: 40%;
}

#avantelements_widths {
    width: 50%;
}

.suggest-button {
    margin-top: 4px;
}

.suggest-list {
    margin-top: 2px !important;
}

.suggest-message {
    color: #cc0000;
    padding: 4px 0 4px 2px;
}

/* Reduce the spacing of elements on admin/items/show.php */
.element .element-text:after {
    margin: 8px 0;
}
.element-text p {
    margin: 0 0 4px 0;
}

/* Reduce the spacing of elements on admin/items/edit.php */
.field label {
    margin: 0 0 2px 0;
    min-width: 100px;
}

.field select {
    margin-bottom: 2px;
}

.inputs {
    margin: 0 0 12px 0;
}

.inputs .input-block {
    margin: 0 0 8px 0;
}

.input-block .input .input-field-full-width {
    width: 380px;
}

/* === CSS for Width less than 768px ===
--------------------------------------------------------- */
@media screen and (max-width: 844px) {

    .input-block .input .input-field-full-width {
        width: 300px;
    }
}