#avantelements_allow_add_input,
#avantelements_display_order,
#avantelements_allow_html,
#avantelements_implicit_link {
    width: 40%;
}

#avantelements_widths {
    width: 50%;
}

.suggest-button {
    margin-top: 4px;
}

.suggest-list {
    margin-top: 2px !important;
}

.suggest-message {
    color: #cc0000;
    padding: 4px 0 4px 2px;
}
