:root {
    --metadata-search-link-color: #0073AA;
    --metadata-search-link-hover-color: #99C0FF;
}

a.metadata-search-link:link,
a.metadata-search-link:visited {
    color: var(--metadata-search-link-color);
}

a.metadata-search-link:hover {
    color: var(--metadata-search-link-hover-color);
}

.suggest-button {
    margin-top: 4px;
}

.suggest-list {
    margin-top: 2px !important;
}

.suggest-message {
    color: #cc0000;
    padding: 4px 0 4px 2px;
}

/*
These styles override the default width of 300px that the SimpleVocab plugin uses for <select> lists.
The element numbers correspond to the internal Omeka Ids for each element. If you want to use this CSS
for a different Omeka installation, you may have to modify the Id values.
*/
/* Country element <select> width */
#Elements-58-0-text {
    width: 110px !important;
}
/* State element <select> width */
#Elements-59-0-text {
    width: 110px !important;
}
/* Status element <select> width */
#Elements-68-0-text {
    width: 110px !important;
}
/* Restrictions element <select> width */
#Elements-72-0-text {
    width: 140px !important;
}
/* Access DB element <select> width */
#Elements-74-0-text {
    width: 110px !important;
}
/* Secondary element <select> width */
#Elements-76-0-text {
    width: 110px !important;
}