:root {
    --metadata-search-link-color: #0073AA;
    --metadata-search-link-hover-color: #99C0FF;
}

a.metadata-search-link:link,
a.metadata-search-link:visited {
    color: var(--metadata-search-link-color);
}

a.metadata-search-link:hover {
    color: var(--metadata-search-link-hover-color);
}
